TestWcf/Service References/SvcCars/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfHomework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarService_GetAllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetAllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarById" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarService">
    <wsdl:operation name="GetAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetAllCars" message="tns:ICarService_GetAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetAllCarsResponse" message="tns:ICarService_GetAllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCarById" message="tns:ICarService_GetCarById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarByIdResponse" message="tns:ICarService_GetCarById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarService" type="tns:ICarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarById">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetCarById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="BasicHttpBinding_ICarService" binding="tns:BasicHttpBinding_ICarService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfHomework/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>